fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
faiss-cpu
PyMuPDF
PyPDF2
python-dotenv
aiofiles
pydantic
sentence-transformers
torch
torchvision
transformers
numpy
scipy
scikit-learn
requests
packaging
typing-extensions
httpx
anyio
starlette
asgiref
gunicorn
