fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
faiss-cpu
PyMuPDF
PyPDF2
python-dotenv
aiofiles
pydantic
requests
numpy
packaging
typing-extensions
httpx
anyio
starlette
asgiref
gunicorn
pypdf
